.chat-main
  .main-header
    .main-header__leftbox    
      %h2.main-header__leftbox__current-group
        = @group.name
        %ul.main-header__leftbox__mamber-list
          Member :
          - @group.users.each do |user|
            = user.name
          %li.main-header__leftbox__mamber-list
            
    .main-header__edit-btn
      = link_to edit_group_path(@group.id), class: 'edit-btn' do
        Edit
  .group-info
    .group-info__massages
      = render @messages
  .message-form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
      .form__image
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          =f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'
  
